<div class="container mt-5">
    <h1>Plantilla</h1>
    <div class="row mt-5 text-center">
        {{#each player}}
        <div class="card" style="width: 18rem;">
            <a href="/plantilla/detalle/{{../squad_id}}/{{id}}"><img src="{{image}}" class="card-img-top"
                    alt="player"></a>
            <div class="card-body">

            </div>
        </div>
    </div>
    {{/each}}
</div>