<div class="container mt-5">
    <h1>Plantilla</h1>
    <div class="row mt-5 text-center">

        {{#each player}}

        <div class="col-md-3 a-box">
            <div class="img-container">
                <div class="img-inner">
                    <div class="inner-skew">
                        <a href="/plantilla/detalle/{{../squad_id}}/{{id}}">
                            <img src="{{image}}"></a>
                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>{{nick}}</h3>
                <div>

                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>