<div class="container mt-5">
    <h1>Detalles</h1>
    <div class="row mt-5">

        <div class="col-md-3">
            <article class="teams-card mb-5">
                <h4 class="text-center">{{name}}</h4>
                <hr>
                <img src="{{image}}" alt="logo">
            </article>
            <a href="/plantilla/detalle/{{id}}" class="btn btn-dark">Detalle</a>
            <a href="/equipos" class="btn btn-dark">Equipos</a>
        </div>

    </div>
</div>