<h1>Lista de Eventos</h1>

{{#each event}}

<p>{{name}}</p>
<p>{{date}}</p>


<a href="/eventos" class="btn btn-primary">Unirse</a>


<a href="/eventos/editar/{{id}}" class="btn btn-dark">Editar</a>

<form action="/eventos/eliminar/{{id}}" method="POST" style="display: inline">
    <input type="submit" value="Eliminar" class="btn btn-danger">
</form>

{{/each}}