<div id="body">
    <div class="center">
        <h1>Iniciar sesión</h1>
        <form action="/iniciar-sesion" method="POST">
            <div class="inputbox">
                <label for="emailInput" class="form-label"></label>
                <input type="email" class="form-control" id="emailInput" name="email">
                <span>Email</span>
            </div>
            <div class="inputbox">
                <label for="pwdInput" class="form-label"></label>
                <input type="password" class="form-control" id="pwdInput" name="userPwd">
                <span>Password</span>
            </div>
            <div class="inputbox">
                <button type="submit" class="btn btn-dark block">Acceder</button>
            </div>
        </form>
        {{#if errorMessage}}
        <div id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}
    </div>
</div>