<div id="body">
    <div class="center">
        <h1>Únete a Futbar</h1>
        <form action="/registro" method="POST">
            <div class="inputbox">
                <label for="username" class="form-label"></label>
                <input type="text" class="form-control" id="username" name="username">
                <span>Nombre</span>
            </div>
            <div class="inputbox">
                <label for="emailInput" class="form-label"></label>
                <input type="email" class="form-control" id="emailInput" name="email">
                <span>Email</span>
            </div>
            <div class="inputbox">
                <label for="pwdInput" class="form-label"></label>
                <input type="password" class="form-control" id="pwdInput" name="userPwd">
                <span>Password</span>
            </div>
            <div>
                <select name="role">
                    <option value="PLAYER">Jugador</option>
                    <option value="MANAGER">Entrenador</option>
                </select>
            </div>
            <br>
            <div class="inputbox">
                <button type="submit" class="btn btn-dark block">Registrar</button>
            </div>

            {{#if errorMessage}}
            <div id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            {{/if}}
    </div>
</div>