<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Regístrate</h1>
            <hr>

            <form action="/registro" method="POST">

            <div class="mb-3">
                <label for="username" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="emailInput" name="email">
                </div>

                <div class="mb-3">
                    <label for="pwdInput" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="pwdInput" name="userPwd">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Registrarse</button>
                </div>

                <div class="mb-3">
                
                    <select name="role">
                        <option value="JUGADOR">Jugador</option>
                        <option value="ENTRENADOR">Entrenador</option>
                    </select>
                
                    <button type="submit" class="btn btn-light">Submit</button>
                    </form>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

</div>