<video autoplay muted loop id="myVideo">
    <source src="./videos/Presentación oficial de LaLiga On Flow.mp4" type="video/mp4">
</video>
<div class="position-absolute top-50 start-50 translate-middle">
    <span><a href="/registro"></a></span>
</div>