@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

span a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}

span a:before,
span a:after {
    position: absolute;
    content: "¡GOOOOL!";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

span a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

span a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

.a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}

.text-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
}

.text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #010a0e;
    font-size: 18px;
}


/* ---------------------------- */

#body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, rgb(249, 253, 244), rgb(7, 8, 8));

}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.center h1 {
    font-size: 2em;
    border-left: 5px solid rgb(4, 6, 7);
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.center .inputbox [type="button"] {
    width: 50%;
    background: rgb(4, 4, 4);
    color: #fff;
    border: #fff;
}

.center .inputbox:hover [type="button"] {
    background: linear-gradient(45deg, rgb(246, 250, 242), rgb(3, 3, 3));
}