<h1>hey {{user.username}}</h1>
<h1> {{user.role}}</h1>


{{#if isPresident}}
<a href="/eventos/crear" class="btn btn-primary"> Crear Evento</a>
{{/if}}

{{#if isManager}}
<a href="/eventos/crear" class="btn btn-primary"> Crear Evento</a>
{{/if}}


{{#each userEvents}}
<p>{{name}}</p>
{{/each}}
<a href="/" class="btn btn-primary">Volver a Inicio</a>